* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.start-content{
    display: flex;
    justify-content: end;
    padding: 2rem;
}

.border-content{
    border-radius: 5px;
    background-color:grey;
    margin: 1px;
    color: white;
    padding: .2rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    margin-bottom: 40px;
}

.w-100{
    width: 100%;
}

.card-col{
    position: relative;
}

.description{
    position: absolute;
    bottom:5px;
    background-color:grey;

}

.row-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.col{
    width: calc(100% / 7 - 1rem);
}

.section-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-button{
    display: flex;
}

.pad-1rem{
    padding: 1rem;
}



