@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
}
    


.start-content{
    display: flex;
    justify-content: end;
    padding: 2rem;
}

.border-content{
    border-radius: 5px;
    background-color:grey;
    margin: 1px;
    color: white;
    padding: .2rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    margin-bottom: 40px;
}

.w-100{
    width: 100%;
}

.card-col{
    position: relative;
}

.description{
    position: absolute;
    bottom:5px;
    background-color: rgba(255,255,255,0.2);
}


.row-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .2rem;
}

.col{
    width: calc(100% / 7 - 1rem);
}


.last-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255,255,255,0.2);
    padding: 2rem;
}

.side-flex{
    display: flex;
    align-items: center;
    text-align: center;


}

.chart-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
}

.flex-button{
    padding: 0.5rem;
}

.chevron{
    font-size: 8px;
}

.green-share{
    color: green;
}

.side-transparent{
    background-color: rgba(255,255,255,0.2);
    color: red;
}

.pad-1rem{
    padding: 1rem;
}
